bin/**
tmp/**
*.suo
xcuserdata
.DS_Store
/.klocwork
/ipch
/VMProtect/moc
*.user
VMProtectSDK32.def
VMProtectSDK64.def
build.log
*.dylib
*.dll
*.sys
vmprotect.opensdf
vmprotect.sdf
core/version.h
*.aps
core/lang.tmp
core/lang.inc
*.log
/iss/Output
*.tmp
*.vsp
*.vspx
*.psess
/iss/end_user/Output
*.hmap
*.dcu
/iss/keygen/__history
/third-party/diskid/Debug
/third-party/diskid/Release
/third-party/diskid/x64/Release
/third-party/diskid/x64/Debug
/third-party/taggant/java_pkiclient/lib
/third-party/taggant/java_pkiclient/pkiwebserviceclient.jar
/Debug
/third-party/diskid/.klocwork/diskid
ConsoleApplication1/
utils/bc/
iss/end_user/NoSend/
TestResults/
third-party/.klocwork/
unit-tests/.klocwork/
sdk/VMProtect.SDK/obj/
utils/ipn_sqlclr/obj/
unit-tests/ipn_sqlclr.Test/bin/
utils/.klocwork/
utils/ipn_sqlclr/.klocwork/
examples/dotnet/forms_mixed/Debug/
examples/dotnet/forms_mixed/Release/
iss/end_user/Ban/
examples/dotnet/.klocwork/
examples/dotnet/ConsoleApplication2/.klocwork/
third-party/taggant/java_pkiclient/portecle-1.7/
utils/ipn_sqlclr/bin/
unit-tests/ipn_sqlclr.Test/obj/
utils/ipn_tool/bin/
core/lang_def.inc
core/lang_enum.inc
core/lang_info.inc
examples/dotnet/Debug/
mac_commond.mak
VMProtect/resources.cc
VMProtect/mac_guid.mak
VMProtect/mac_gui64_debug.mak
iss/keygen/Project1.dproj.local
core/mac_cored.mak
core/mac_core64_debug.mak
core/invariant/mac_invariant_cored.mak
core/invariant/mac_invariant_core64_debug.mak
app/vmprotect_gui.app/Contents/Info.plist
utils/ipn_tool/obj/
utils/ipn_sqlclr/ipn_sqlclr.publish.xml
utils/ipn_sqlclr/ipn_sqlclr.sln
examples/dotnet/forms_cil/bin/
examples/dotnet/forms_cil/obj/
examples/dotnet/ConsoleApplication2/
examples/dotnet/ConsoleApplication3/
examples/code markers/Xcode/Build/
examples/code markers/Xcode/Project1.xcodeproj/project.xcworkspace/xcshareddata/
examples/code markers/Xcode/Project1/VMProtectSDK.h
examples/licensing/Xcode/VMProtectSDK.h
examples/licensing/Xcode/VMProtect Licensing Test.xcodeproj/project.xcworkspace/xcshareddata/
examples/licensing/Xcode/Build/
third-party/taggant/java_pkiclient/stuff/certificates/
third-party/taggant/java_pkiclient/check/
third-party/taggant/java_pkiclient/root.p7b
third-party/taggant/java_pkiclient/lic.pem
third-party/taggant/java_pkiclient/gp.txt
third-party/taggant/java_pkiclient/exp_pki_ra.cer
third-party/taggant/java_pkiclient/client.p12
third-party/taggant/java_pkiclient/VMP.cer
*.FileListAbsolute.txt
third-party/crashrpt/
runtime/VMProtect.Runtime/Tests/UnitTestProject/bin/
runtime/VMProtect.Runtime/Tests/UnitTestProject/obj/
test-binaries/win32-app-delphi-i386.exe
test-binaries/win32-app-test1-i386.exe
test-binaries/win64-app-msvc-amd64.exe
vmprotect.VC.VC.opendb
vmprotect.VC.db
runtime/VMProtect.Runtime/obj/
*.opendb
*.db
*.ipch
examples/licensing/Net/bin/
examples/licensing/Net/obj/
examples/licensing/MSVC/bin/
examples/licensing/MSVC/tmp/
examples/licensing/MSVC/VMProtectSDK.h
examples/licensing/MSVC/VMProtectSDK32.lib
examples/licensing/C#/VMProtect.SDK.pdb
VMProtect.SDK.pdb
examples/code markers/Net/bin/
examples/code markers/Net/obj/
examples/keygen/Net/KeyGen/obj/
examples/keygen/Net/bin/
third-party/taggant/openssl/ms/Debug/
*.so
*.exe
/iss/body.txt
/iss/ipn/vmprotect.vmp
/iss/ipn/licenses/